<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="http://flkt-crnpio.github.io/pitaya/">cricket <br>app</a>
    <div class="tabs">
        <div class="tab-2">
            <label for="tab2-1">matches</label>
            <input id="tab2-1" name="tabs-two" type="radio" checked="checked">
            <div>
                <h3>ICC WORLD TEST CHAMPIONSHIP FINAL 2021</h3>
                <h4>India vs New Zealand, Final</h4>
                <h6>
                    Jun 18 - Jun 22 • 3:00 PM at Southampton, The Rose Bowl
                </h6>
                <header class="st_table_header">

                    <div class="st_row">
                        <div class="st_column _Date"></div>

                        <div class="st_column _MatchDetails">
                        </div>
                        <div class="st_column _Time"></div>

                    </div>
                </header>
                <div class="st_table">
                    <div class="st_row">
                        <div class="st_column _Date">IND</div>
                        <div class="st_column _MatchDetails">217</div>
                        <div class="st_column _Time">ALL OUT</div>
                    </div>
                </div>
                <div class="st_table">
                    <div class="st_row">
                        <div class="st_column _Date">NZ</div>
                        <div class="st_column _MatchDetails">101-2</div>
                        <div class="st_column _Time"></div>
                    </div>
                </div>
                <button class="button">Scorecard</button>
            </div>
            <!--2-->
            <div>
                <h3>SOUTH AFRICA TOUR OF WEST INDIES, 2021</h3>
                <h4> West Indies vs South Africa, 2nd Test</h4>

                <h6>
                    Jun 18 - Jun 23 • 7:30 PM at Gros Islet, St Lucia, Daren Sammy National Cricket Stadium
                </h6>
                <header class="st_table_header">

                    <div class="st_row">
                        <div class="st_column _Date"></div>

                        <div class="st_column _MatchDetails">
                        </div>
                        <div class="st_column _Time"></div>

                    </div>
                </header>
                <div class="st_table">
                    <div class="st_row">
                        <div class="st_column _Date">RSA</div>
                        <div class="st_column _MatchDetails">298 & 174</div>
                        <div class="st_column _Time">ALL OUT</div>
                    </div>
                </div>
                <div class="st_table">
                    <div class="st_row">
                        <div class="st_column _Date">WI</div>
                        <div class="st_column _MatchDetails">149 & 15-0</div>
                        <div class="st_column _Time"></div>
                    </div>
                </div>
                <button class="button">Scorecard</button>
            </div>
            <br><br>
            <!--3-->
            <div>
                <h3>IRELAND TOUR OF NETHERLANDS, 2021</h3>
                <h4>Netherlands vs Ireland, 3rd ODI</h4>

                <h6>
                    Jun 07 • 2:00 PM at Utrecht, Sportpark Maarschalkerweerd
                </h6>
                <header class="st_table_header">

                    <div class="st_row">
                        <div class="st_column _Date"></div>

                        <div class="st_column _MatchDetails">
                        </div>
                        <div class="st_column _Time"></div>

                    </div>
                </header>
                <div class="st_table">
                    <div class="st_row">
                        <div class="st_column _Date">IRE</div>
                        <div class="st_column _MatchDetails">163 (49.2 ovs)</div>
                        <div class="st_column _Time">ALL OUT</div>
                    </div>
                </div>
                <div class="st_table">
                    <div class="st_row">
                        <div class="st_column _Date">NED</div>
                        <div class="st_column _MatchDetails">166-6 (45.5OVS)</div>
                        <div class="st_column _Time"></div>
                    </div>
                </div>
                <button class="button">Scorecard</button>
            </div>
            <br>
            <!--4-->
            <div>
                <h3>NEW ZEALAND TOUR OF ENGLAND, 2021</h3>
                <h4> England vs New Zealand, 2nd Test</h4>

                <h6>
                    Jun 10 - Jun 14 • 3:30 PM at Birmingham, Edgbaston
                </h6>
                <header class="st_table_header">

                    <div class="st_row">
                        <div class="st_column _Date"></div>

                        <div class="st_column _MatchDetails">
                        </div>
                        <div class="st_column _Time"></div>

                    </div>
                </header>
                <div class="st_table">
                    <div class="st_row">
                        <div class="st_column _Date">ENG</div>
                        <div class="st_column _MatchDetails">303&122</div>
                        <div class="st_column _Time">ALL OUT</div>
                    </div>
                </div>
                <div class="st_table">
                    <div class="st_row">
                        <div class="st_column _Date">NZ</div>
                        <div class="st_column _MatchDetails">388&41-2</div>
                        <div class="st_column _Time"></div>
                    </div>
                </div>
                <button class="button">Scorecard</button>
            </div>

            <!--4end-->
        </div>
        <div class="tab-2">
            <label for="tab2-2">news</label>
            <input id="tab2-2" name="tabs-two" type="radio">
            <div>
                <h1>Cricket News and Editorials</h1>
                <br>
                <img src="  https://www.cricbuzz.com/a/img/v1/205x152/i1/c208083/devon-conway-and-tom-latham-re.jpg" alt="">
                <h6>REPORTS •</h6>
                <h4> ICC WORLD TEST CHAMPIONSHIP FINAL 2021 Openers keep New Zealand few paces ahead of India</h4>
                <h6>India were bowled out for 217 before the New Zealand openers went to Tea on 36/0</h6>
                <img src="https://www.cricbuzz.com/a/img/v1/205x152/i1/c207809/secretary-jay-shah-had-called.jpg" alt="">
                <h6>INDIAN CRICKET</h6>
                <h4> BCCI to form committee to compensate domestic cricketers</h4>
                <h6> Ranji Trophy, India's premier domestic tournament, has not been conducted because of the travel restrictions</h6>
                <img src="https://www.cricbuzz.com/a/img/v1/205x152/i1/c208071/this-will-be-their-third-inter.jpg" alt="">
                <h6> WOMEN'S CRICKET</h6>
                <h4>Pakistan Women to tour West Indies for eight white-ball games</h4>
                <h6> The 'A' sides of these two teams will also be competing against each other at the same time</h6>
                <img src="https://www.cricbuzz.com/a/img/v1/205x152/i1/c208068/jamieson-got-the-india-captain.jpg" alt="">
                <h6>ICC WORLD TEST CHAMPIONSHIP FINAL 2021</h6>
                <h4>Jamieson headlines story of third morning</h4>
                <h6>
                    India only added 65 runs in the session, slipping to 211/7 at Lunch</h6>
                <img src="https://www.cricbuzz.com/a/img/v1/205x152/i1/c208054/how-much-can-india-rack-up-in.jpg" alt="">
                <h6> WTC FINAL</h6>
                <h4> Live Cricket Score: India v New Zealand, WTC final, Southampton, Day 3</h4>
                <h6> All the live updates from the third day's play at the Ageas Bowl in Southampton</h6>
                <img src="https://www.cricbuzz.com/a/img/v1/205x152/i1/c208042/since-his-second-coming-as-a-t.jpg" alt="">
                <h6> WTC FINAL 2021</h6>
                <h4> In chilly Southampton, India roll up their sleeves for battle</h4>
                <h6> With the conditions, the toss & an imposing seam attack stacked against them, India's batting engine room gave a good account of themselves</h6>

            </div>
        </div>

    </div>


</body>

</html>