<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <h2>ipl points Table</h2>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
                <tr>
                    <th>team</th>
                    <th>matches</th>
                    <th>won</th>
                    <th>lost</th>
                    <th>tied</th>
                    <th>points</th>
                    <th>NNR</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img class="imso_btl__mh-logo" alt="" src="//ssl.gstatic.com/onebox/media/sports/logos/TjudW-BaNE2HcD_6cOWC7Q_48x48.png" style="width:24px;height:24px">DC</td>
                    <td>8</td>
                    <td>6</td>
                    <td>2</td>
                    <td>0</td>
                    <td>12</td>
                    <td>+0.547</td>
                </tr>
                <tr>
                    <td><img class="imso_btl__mh-logo" alt="" src="//ssl.gstatic.com/onebox/media/sports/logos/exZiFUT_GXScTyr358t7SQ_48x48.png" style="width:24px;height:24px">CSK</td>
                    <td>7</td>
                    <td>5</td>
                    <td>2</td>
                    <td>0</td>
                    <td>10</td>
                    <td>+1.263</td>
                </tr>
                <tr>
                    <td><img class="imso_btl__mh-logo" alt="" src="//ssl.gstatic.com/onebox/media/sports/logos/f958HPOsI1ugsHmwc4piCw_48x48.png" style="width:24px;height:24px">RCB</td>
                    <td>7</td>
                    <td>5</td>
                    <td>2</td>
                    <td>0</td>
                    <td>10</td>
                    <td>-0.171</td>
                </tr>
                <tr>
                    <td><img class="imso_btl__mh-logo" alt="" src="//ssl.gstatic.com/onebox/media/sports/logos/JTre94vh6WJeLmIL-Dfc1g_48x48.png" style="width:24px;height:24px">MI</td>
                    <td>7</td>
                    <td>3</td>
                    <td>3</td>
                    <td>1</td>
                    <td>7</td>
                    <td>+0.062</td>
                </tr>
                <tr>
                    <td><img class="imso_btl__mh-logo" alt="" src="//ssl.gstatic.com/onebox/media/sports/logos/turpQqyPRIMvuksLiSDSjQ_48x48.png" style="width:24px;height:24px">RR</td>
                    <td>7</td>
                    <td>3</td>
                    <td>4</td>
                    <td>0</td>
                    <td>6</td>
                    <td>-0.190</td>
                </tr>
                <tr>
                    <td><img class="imso_btl__mh-logo" alt="" src="//ssl.gstatic.com/onebox/media/sports/logos/HxbhoKfAgDZogey6S9E4bA_48x48.png" style="width:24px;height:24px">PBKS</td>
                    <td>8</td>
                    <td>3</td>
                    <td>5</td>
                    <td>0</td>
                    <td>6</td>
                    <td>-0.368</td>
                </tr>
                <tr>
                    <td><img class="imso_btl__mh-logo" alt="" src="//ssl.gstatic.com/onebox/media/sports/logos/kkwGQB9t8WtGPx9WuiBGOw_48x48.png" style="width:24px;height:24px">KKR</td>
                    <td>7</td>
                    <td>1</td>
                    <td>5</td>
                    <td>1</td>
                    <td>3</td>
                    <td>-0.494</td>
                </tr>
                <tr>
                    <td><img class="imso_btl__mh-logo" alt="" src="//ssl.gstatic.com/onebox/media/sports/logos/G9q07ZXPVbPkXOagStz3Yw_48x48.png" style="width:24px;height:24px">SRH</td>
                    <td>7</td>
                    <td>1</td>
                    <td>6</td>
                    <td>0</td>
                    <td>2</td>
                    <td>-0.623</td>
                </tr>

                <tbody>
        </table>
    </div>
    <h2>icc points table 2019</h2>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
                <tr>
                    <th>team</th>
                    <th>matches</th>
                    <th>won</th>
                    <th>lost</th>
                    <th>tied</th>
                    <th>points</th>
                    <th>NNR</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img class="imso_btl__mh-logo" alt="" src="//ssl.gstatic.com/onebox/media/sports/logos/mlXOOB9HXxLpoeS2dHSgGA_48x48.png" style="width:24px;height:24px">IND</td>
                    <td>9</td>
                    <td>7</td>
                    <td>1</td>
                    <td>1</td>
                    <td>15</td>
                    <td>+0.809</td>
                </tr>
                <tr>
                    <td><img class="imso_btl__mh-logo" alt="" src="//ssl.gstatic.com/onebox/media/sports/logos/jSgw5z0EPOLzdUi-Aomq7Q_48x48.png" style="width:24px;height:24px">AUS</td>
                    <td>7</td>
                    <td>5</td>
                    <td>2</td>
                    <td>0</td>
                    <td>10</td>
                    <td>+1.263</td>
                </tr>
                <tr>
                    <td><img class="imso_btl__mh-logo" alt="" src="//ssl.gstatic.com/onebox/media/sports/logos/DTqIL8Ba3KIuxGkpXw5ayA_48x48.png" style="width:24px;height:24px">ENG</td>
                    <td>7</td>
                    <td>5</td>
                    <td>2</td>
                    <td>0</td>
                    <td>10</td>
                    <td>-0.171</td>
                </tr>
                <tr>
                    <td><img class="imso_btl__mh-logo" alt="" src="//ssl.gstatic.com/onebox/media/sports/logos/VnSt4NnQhVxsjgNck2HkKw_48x48.png" style="width:24px;height:24px">NZ</td>
                    <td>7</td>
                    <td>3</td>
                    <td>3</td>
                    <td>1</td>
                    <td>7</td>
                    <td>+0.062</td>
                </tr>
                <tr>
                    <td><img class="imso_btl__mh-logo" alt="" src="//ssl.gstatic.com/onebox/media/sports/logos/-I9tpg9uetJjQNCh15jmKw_48x48.png" style="width:24px;height:24px">PAK</td>
                    <td>7</td>
                    <td>3</td>
                    <td>4</td>
                    <td>0</td>
                    <td>6</td>
                    <td>-0.190</td>
                </tr>
                <tr>
                    <td><img class="imso_btl__mh-logo" alt="" src="//ssl.gstatic.com/onebox/media/sports/logos/-6moqr0dxYpIhERhbiVLSA_48x48.png" style="width:24px;height:24px">SL</td>
                    <td>8</td>
                    <td>3</td>
                    <td>5</td>
                    <td>0</td>
                    <td>6</td>
                    <td>-0.368</td>
                </tr>
                <tr>
                    <td><img class="imso_btl__mh-logo" alt="" src="//ssl.gstatic.com/onebox/media/sports/logos/EGwD4_SUlmwZWbnHhcmTPA_48x48.png" style="width:24px;height:24px">SA</td>
                    <td>7</td>
                    <td>1</td>
                    <td>5</td>
                    <td>1</td>
                    <td>3</td>
                    <td>-0.494</td>
                </tr>
                <tr>
                    <td><img class="imso_btl__mh-logo" alt="" src="//ssl.gstatic.com/onebox/media/sports/logos/uTQstsRqQKZC-VUZWaNi0w_48x48.png" style="width:24px;height:24px">BAN</td>
                    <td>7</td>
                    <td>1</td>
                    <td>6</td>
                    <td>0</td>
                    <td>2</td>
                    <td>-0.623</td>
                </tr>
                <tr>
                    <td><img class="imso_btl__mh-logo" alt="" src="//ssl.gstatic.com/onebox/media/sports/logos/6om0X7vSyKW3Lj4AVpqWIQ_48x48.png" style="width:24px;height:24px">WI</td>
                    <td>7</td>
                    <td>1</td>
                    <td>6</td>
                    <td>0</td>
                    <td>2</td>
                    <td>-0.623</td>
                </tr>

                <tbody>
        </table>
    </div>
</body>

</html>